{% extends 'base.html.j2' %}

{% block title %}
  Property Management
{% endblock title %}

{% block content_before %}
  Property Management
{% endblock content_before %}

{% block content %}
  {% if message %}
    <div class="row">
      <div class="col text-center">
        <h3>{{ message }}</h3>
      </div>
    </div>
    <br/>
  {% endif %}
  <table class="table" id="properties_table">
    <thead>
        <tr>
            <th>Actions</th>
            <th>Owner</th>
            <th>Template_id</th>
            <th>Clone_id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Privacy</th>
            <th>Approved</th>
            <th>last_updated</th>
            <th>time_claimed</th>
            <th>rejection_reason</th>
            <th>reputation</th>
            <th>zone.name</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
{% endblock  %}


{% block js %}
  {{ super () }}
  <script>
    $(document).ready(function(){
        let properties_table = $('#properties_table').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": "{{ url_for('properties.get') }}",
          });
        });
  </script>
{% endblock %}
