{% extends 'base.html.j2' %}

{% block title %}Home{% endblock %}

{% block content_before %}
  {% if current_user.is_authenticated %}
    Welcome back {{ current_user.name }}!
  {% else %}
    Welcome Explorer!
  {% endif %}
{% endblock %}

{% block content %}
  {% if current_user.is_authenticated %}
    {% include 'main/_user_profile.html.j2' %}
    {{account_data}}
  {% else %}
    <div class="row">
      <div class="col text-right">
        <a role="button" class="btn btn-primary btn-lg btn-block"
          href='{{ url_for('user.login') }}'>
          Login
        </a>
      </div>
      <div class="col">
        <a role="button" class="btn btn-primary btn-lg btn-block"
          href='{{ url_for('user.register') }}'>
          Register
        </a>
      </div>
    </div>
  {% endif %}

{% endblock content %}
