<div class="card shadow-sm">
  <div class="card-body">
    <div class="row">
      <div class="col text-center">
        <h4>
          {{ character.name }}
        </h4>
      </div>
    </div>
    <br/>
    {% if character.pending_name %}
      <div class="row">
        <div class="col text-right">
          Pending:
        </div>
        <br/>
        <div class="col">
          {{ character.pending_name }}
        </div>
      </div>
    {% endif %}
    <div class="row">
      <div class="col text-right">
        Rename:
      </div>
      <br/>
      <div class="col">
        {% if character.needs_rename %}
          <h5 class="far fa-check-square text-danger"></h5>
        {% else %}
          <h5 class="far fa-times-circle text-success"></h5>
        {% endif %}
      </div>
    </div>
    {% if current_user.gm_level > 3 %}
      <div class="row">
        <div class="col text-right">
          Permission Level:
        </div>
        <div class="col">
          {% with gm_level=character.permission_map%}
            {% include 'partials/_gm_level.html.j2' %}
          {% endwith %}
        </div>
      </div>
    {% endif %}
    <div class="row">
      <div class="col text-right">
        Last Login:
      </div>
      <div class="col">
          {{ character.last_login|ctime }}
      </div>
    </div>
    {% if request.endpoint != "characters.view" %}
    <br/>
    <div class="row">
      <div class="col text-center">
          <a role="button" class="btn btn-primary btn-block"
            href='{{ url_for('characters.view', id=character.id) }}'>
            View Character
          </a>
      </div>
    </div>
    {% endif %}

  </div>
</div>
