<div class="card shadow-sm">
  <div class="card-body">
    <div class="row">
      <div class="col text-center">
        <h4>
          {% if not item.ugc_id %}
            Model: {{ item.lot }}
          {% else %}
            UGC: {{ item.ugc_id }}
          {% endif %}
        </h4>
      </div>
    </div>
    <br/>
    {# <div class="row">
      <div class="col text-right">
        ID:
      </div>
      <br/>
      <div class="col">
        {{ item.id }}
      </div>
    </div> #}
    {% if item.lot != 14 %}
      <div class="row">
        <div class="col text-right">
          LOT:
        </div>
        <br/>
        <div class="col">
          {{ item.lot }}
        </div>
      </div>
    {% endif %}
    {% if item.ugc_id %}
      <br/>
      <div class="row">
        <div class="col text-center">
            <a role="button" class="btn btn-primary btn-block"
              href='{{ url_for('properties.view_ugc', id=item.ugc_id) }}'>
              View Model
            </a>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col text-center">
            <a role="button" class="btn btn-primary btn-block"
              href='{{ url_for('properties.download_ugc', id=item.ugc_id) }}'>
              Download Model
            </a>
        </div>
      </div>
    {% endif %}
  </div>
</div>
