{% if stat %}
  {% if stat.life > 0 %}
    + {{ stat.life }}
    <img src='{{url_for('luclient.get_icon_iconid', id=3262)}}'
      alt='Health: '
      width='16'
      height='16'>
  {% endif %}
  {% if stat.armor > 0 %}
    + {{ stat.armor }}
    <img src='{{url_for('luclient.get_icon_iconid', id=3263)}}'
      alt='Armor: '
      width='16'
      height='16'>
  {% endif %}
  {% if stat.im > 0 %}
    + {{ stat.im }}
    <img src='{{url_for('luclient.get_icon_iconid', id=1032)}}'
      alt='Imagination: '
      width='16'
      height='16'>
  {% endif %}
  {% if stat.damage > 0 %}
    + {{ stat.damage }}
    <img src='{{url_for('luclient.get_icon_iconid', id=3674)}}'
      alt='Damage: '
      width='16'
      height='16'>
  {% endif %}
  {% if stat.behavior %}
    {% if stat.behavior|length > 0 %}
      {% for beh in stat.behavior %}
        {# DOESN'T WORK #}
        {% if "SkillBehavior_"~beh~"_name"|lu_translate  != "SkillBehavior_"~beh~"_name"%}
          <br/>
          <img src='{{url_for('luclient.get_icon_iconid', id=beh)}}'
            alt='Skill: '
            width='16'
            height='16'>
          {{ "SkillBehavior_"~beh~"_name"|lu_translate }}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endif %}
{% endif %}
